{% extends 'base.html' %}

{% block title %}Users{% endblock%}
{% block content %}
<div class="card mx-auto my-4" style="width: 18rem;">
    <div class="card-header">All Users</div>
    <div class="card-body">
        <div class="list-group-flush">
            {% for user in users %}
            <a href="/users/{{user.id}}" class="list-group-item list-group-item-action">{{user.full_name}}</a>
            {% endfor %}
        </div>
        <a href="/users/new" class="btn btn-primary mt-3 mb-1">Create User</a>
    </div>
    
</div>

    
{% endblock %}